pix/borders/by_course_shortname/*.jpg
pix/borders/by_course_shortname/*.png

pix/seals/by_course_shortname/*.jpg
pix/seals/by_course_shortname/*.png

pix/signatures/by_course_shortname/*.jpg
pix/signatures/by_course_shortname/*.png

pix/watermarks/by_course_shortname/*.jpg
pix/watermarks/by_course_shortname/*.png

